 body,html {
overflow-x:hidden;
}
#top-section{
	padding: 1.5rem 1rem !important;
	margin:0px;
	position: relative;
}
.jumbotron{
	background-color: #F2F2F2 !important;
	z-index: 10;
}
#top-btn{
	border:1px solid black;
	font-weight: 700;
    color: #3e5566;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 25px;
}
#search-btn,#search{
	border:1px solid black;
	color: #3e5566;
   
}
#search-btn{
	cursor: pointer;
	border-radius: 7px;
	padding: 9px 15px;
	margin: 0px;
}
#search-btn:hover{
	background-color: #007bff;
	color: white;
	transition: 0.5s ease;
}
#search{
	background-color: inherit;
	margin: 0px;
	padding: 8px 15px;
}
#search:focus{
	outline-color: #28a745 !important;
	
}
#top-btn:hover{
	background-color: #3e5566;
	color: white;
	transition: 0.5s ease; 
}
.top-left{
	
}
.top-right{
	
}
#collapsibleNavbar,#searchBar{
	transition: 0.5s ease;
	
}


#ham{
	position: relative;
	height:40px;
}
h2{
	line-height: normal;
}
#logo:hover{
	color:#F67107 !important;
	transition: 0.5s ease;
}
#searchBar ul li:hover{
	border-color: transparent; !important;
}
#smp:hover{
	border-bottom:none;
	color: red !important;
}
.next{
	background-color: transparent;
	color:black;
}
body{
	background-color:#a83fe4;
	font-size: 13px;
	overflow-x: hidden;
}
.navbar{
	padding:0px;
}

.navbar #ham2{

}
#collapsibleNavbar ul li>a,.dropdown{
	border-bottom: 4px solid #F8F9FA;
}
#collapsibleNavbar ul li>a:hover,.dropdown:hover{
	border-bottom: 4px solid #a83fe4;
	color:#F67107 !important;
	transition:0.7s ease;
}
.dropdown:hover>div>a{
	color:#a83fe4 !important;
	transition:0.7s ease
}
.navbar-dark .navbar-nav .nav-link,.navbar-brand {
	padding: 29px 10px;
	font-family: 'Roboto', sans-serif;
	font-weight:600;
}
.icon{
	display: block;
    width: 30px;
    height: 4px;
    background: #e12c33;
    border-radius: 2px;
    content:'';
    transition: 0.5s ease;
    margin:4px 0px;
}
.change1{
	transform: rotate(45deg);
    top: 32%;
    position: absolute;
}
.change2{
	display:none;
	transition: 0.5s ease;
}
.change3{
	transform: rotate(-45deg);
}
#carouselExampleControls{
	z-index: 1;
	position: relative;
}
#lm{
	position: absolute;
	top:75%;
	left:5%;
	font-weight: bold;
}
#lm:hover{
	background-color: green;
	color: white !important;
	transition: 0.5s ease;
}
.carousel-control-prev,.carousel-control-next{
	height:70px;
	top: 50%;
    transform: translateY(-50%);
}
.dropdown-menu{
	opacity:1;
	width:220px;
	font-size: 12px;
	padding-left: 2px;
	display: block;
	opacity: 0;
	z-index: -1;
	transition: 0.7s ease;
	border-bottom:3px solid #007bff; 
}
.dropright-menu{
	width:200px;
	position: absolute;
	font-size: 12px;
	padding: 5px;
	display: none;
	top:0%;
	z-index: -1;
	border-bottom:3px solid #28a745; 
	right: auto;
    left: 99%;
    margin-top: 0;
    margin-left: .125rem;
}
#searchBar form{
	display: none;
}
.alignment{
	display: inline-block;
	width:80%;
}
.align2{
	vertical-align: top;
	padding-top: 3px;
}
.dropdown:hover .dropdown-menu{
	display:block;
	
	z-index: 2;
	opacity: 1;
	transition: 0.7s ease;
	box-shadow: 0 20px 48px -8px rgba(0,0,0,0.5);
}
.dropright:hover .dropright-menu{
	display: block;
	box-shadow: 0 20px 48px -8px rgba(0,0,0,0.5);
}
.dropdown-menu:hover{
	
}
.caret{
	padding-right: 5px;
	color:blue;
	visibility:hidden;
}
.caret2{
	color:red;
}
.dropdown-item:hover .caret{
	visibility: visible;
}
#card{
	 background: rgba(0,0,0,.8);
}
#card a{
	color: white;
}
#s-head{
	background-color: #AABF00 !important;
	padding: 8px !important;
    padding-bottom: 12px !important;
	text-transform: uppercase;
}
#s2-head{
	background-color: #f8f9fa !important;
	color: #575756 !important;
	text-transform: uppercase;
}
#service{
	background-color: #f8f9fa !important;
    overflow: hidden;
}
.cud{
	margin-right: 0px !important;
	margin-left: 0px !important;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	color:#575756;
	cursor: pointer;
	padding: 30px;
	transition: 0.3s ease;
	position: relative;
	height: 320px;
	border-bottom:3px solid black !important;
}
.s-icon{
	position: absolute;
	top:47%;
	left:50%;
	transform: translate(-50%,-50%);
}
.hide-text{
	position: absolute;
	top:60%;
	left:7%;
	font-size: 16px;
	text-transform: none;
	display: none;
	color: white !important;
	transition: 0.3s ease;
}
.f-head{
	color: #a83fe4;
    display: block;
    font-size: 18px !important;
    padding-top: 4px !important;
    text-transform: uppercase;
   font-weight: bold;
}
.f-head::after{
	display: block;
    content: "";
    width: 70px;
    height: 5px;
    background-color: rgba(128, 128, 128, 0.15);
    margin: 10px 0;
}
.f-elem{
	border-bottom: 1px solid rgba(128, 128, 128, 0.2);
	padding-bottom: 12px;
	margin: 0 0 12px 0;
	font-size: 14px;
}
.f-elem a{
	color:white;
	text-decoration: none;
	transition: 0.5s ease;
}
.f-elem:hover a{
	color:#a83fe4;
}
.f-icon{
	color: #6f6f6f;
	border-right: 1px solid rgba(128, 128, 128, 0.2);
	padding-right: 5px;
	font-size: 14px;
	width: 9%;
}
.so-icon{
	color:#6f6f6f; 
}
.so-icon:hover{
	color:#a83fe4;
}
.s-links{
	color: white;
	text-transform: none;
}
#social-connects{
	border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
#credits{
	padding: 10px 0px;
}
.cred{
	padding: 0px 5px;
}
.s-links:hover{
	text-transform: none;
}
#wrapper{
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
#social-connects{
	padding:30px 0px;
}
.f-a{
	color:white;
	padding-left: 5px;

}
.f-a:hover{
	color:#a83fe4;
	text-decoration: none;
}
.f-text{
	padding-left: 5px;
	color: #6f6f6f;
	font-size: 14px;
}
.about-us{
	margin-bottom:9px;
}
#footer{
	position: relative;
    padding: 70px 0 0;
    background-color: #111111;
}
.card-deck{
	margin-right: 0px !important;
}
.card-text{
	position: absolute;
	top:72%;
	left:50%;
	transform: translate(-50%,-50%);
	transition: 0.5s ease;
}
.cud:first-child:hover{
	background-color: #182340;
	color: white;
}
.cud2:first-child:hover{
	background-color: orange;
	color: white;
}

.cud:nth-child(2):hover{
	background-color: #29A9E1;
	color: white;
}
.cud2:nth-child(2):hover{
	background-color: #13BCA8;
	color: white;
}
.cud:nth-child(3):hover{
	background-color: orange;
	color: white;
}
.cud2:nth-child(3):hover{
	background-color: #182340;
	color: white;
}

.cud:nth-child(4):hover{
	background-color: #13BCA8;
	color: white;
}
.cud2:nth-child(4):hover{
	background-color: #29A9E1;
	color: white;
}
.cud:hover .card-text{
	position: absolute;
	top:25%;
	transition: 0.7s ease;
}
.cud:hover .hide-text{
	display: block;
}
#card a:hover{
	background-color: #222;
}
i{
	transition: 0.5s ease;	
}
.navbar div a i{
	transition: none;
}
.img-cont{
	position: relative; 
	transition: 0.5s ease;
	padding: 0;
}
.img-cont a{
	display: block;
	position: relative;
	overflow: hidden;
	transition: 0.5s ease;
}

.img-cont a::before{
	content: "";
	position: absolute;
	top: 0%;
	left: 0%;
    width: 100%;
    height: 100%;
    background: transparent;
    background: linear-gradient(transparent, transparent, rgba(0,0,0,0.8));
    z-index: 12;
}
.img-cont a:hover img {
	transform: scale(1.1);
	transition: 0.5s ease;
}
.img-cont a:hover span i{
	margin-left: 7px;
	transition: 0.5s ease;
}

.img-cont a img{
	transition: 0.5s ease;
}
.img-cont a span{
	transition: 0.5s ease;
	z-index: 13;
}
.img-text{
	position: absolute;
	bottom:10%;
	font-size: 18px;
	text-decoration: none;
	color: white;
	transition: 0.5s ease;   
	font-weight: bolder;
	left:10%;
}
.dropdown-item:focus{
	background-color: inherit;
}
#overview{
	overflow: hidden;
	
}
#back2Top{
	width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: -50px;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
	transition:0.5s ease;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #F2A74B;
    color: #006937;
}
#hamburg{
	display: none
}
#ham2{
	display: none;
	vertical-align: bottom;
}
.ser{
	color:white;
	border:1px solid transparent;
}
.img-zoom{
	width:100%;
}
.event{
		margin-right: 0px !important;
		margin-left: 0px !important;
}
.card-title a{
	font-size: 18px !important;
	transition: 0.5s ease;
	text-decoration: none !important;
}
.card-title:hover a{
	color:red !important;
}
.event-text{
	font-size: 15px;
	color: #858585;
	margin-bottom: 0px !important;
}
.card-img-top{
	cursor: pointer;
	transition: 0.5s ease;
}
.card-img-top:hover{
	opacity: 0.8;
}
.read-more{
	font-size: 16px;
	color:red !important;
	transition: 0.5s ease;
	text-decoration: none !important;
   
}
.m-head{
	font-size:24px;
	color: #a83fe4 !important;
	padding-bottom: 20px !important;
	text-transform: uppercase; 
	 border-bottom: solid 1px #dcdbdb;
}
.fht-wrapper{
	padding-left:10px;
	padding-right: 10px;
}
.fht{
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.5s ease;
}
.fht:hover{
	opacity: 0.7;
}
.fht-image img{
	width: 100%;
}
.card-deck .card{
	border-bottom:3px solid transparent;
}
.event:hover{
	border-bottom-color: #80225F;
}
.read-more:hover{
	color: darkred !important;
}
.read-more:hover i{
	margin-left:5px;
}
.display-4{
		font-size: 2.0rem;
	}
@media (prefers-reduced-motion: reduce){
	.carousel-item {
		transition: transform 2s ease, opacity .5s ease-out;
	}
}
@media only screen and (max-width: 767px){
	.f-head{
		text-align: center;
		padding-bottom: 15px;
	}
	.f-head:after{
		display: none;
	}
	.f-elem,.about-us{
		text-align: center;
		margin-right: 30px;
    	margin-left: 30px;
	}
	.f-icon{
		border: none;
	}
}
@media only screen and (max-width:825px){
	.cud,.event{
		width:50%;
		flex: auto !important;
	}
}
@media only screen and (max-width:991px){
	#searchBar form{
		display: block;
	}
	#service{
		width: 100%;
	}
	.img-zoom{
		width: 100%
	}
	#top-section{
		display: none;
	}
	#ham2{
		display: inline-block;
	}
	#hamburg{
		display: inline-block;
	}
	.navbar{
		padding: 8px;
		position: sticky;
	    top: 0;
	    z-index: 1020;
	}

	.navbar-dark .navbar-nav .nav-link {
		padding: 8px;
	}
	 .dropdown-menu {
		opacity:1;
		width:100%;
		display: none;
		background-color: #F8F9FA;
		border:none;
		transition: 0.5s ease;
	}
	.dropright-menu{
		position: static;
		width: 94%;
		border: none;
		margin-left: 50px;
		margin-top:5px;
		padding: 0px 
	}
	.container{
		margin:0px !important;
		width: 100% !important;
		padding: 0px !important;
		max-width: 100% !important;
	}
	.dropdown:hover .dropdown-menu{
		box-shadow: none;
		display: block;
	}
}

@media only screen and (max-width:576px){
	.dropright-menu{
		width:80%;
	}
	#lm{
		display: none;
	}
	.display-4{
		font-size: 1.7rem;
	}
	.cud,.event{
		width:100%;
	}
	.card-deck .card {
		margin: 0px;
	}
}